# Byte-compiled / archivos caché de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
ENV/
.venv/
.ENV/

# Archivos de configuración de VS Code
.vscode/

# Archivos de logs
*.log

# Archivos de bases de datos locales
*.sqlite3

# Archivos de pruebas y cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Archivos de distribución
dist/
build/
*.egg-info/
.eggs/

# Otros
.DS_Store
Thumbs.db